{% extends "base.html" %}

{% block header %}
<title>read data</title>
{% endblock header %}

{% block contents %}

    <h1>Read Data</h1>
    
    {% if rows %}
        <table>
            <thead>
                <tr>
                    {% for column in desc %}
                        <th>{{ column[0] }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No data available</p>
    {% endif %}

{% endblock contents %}